<%- include('blocks/header')%>
<div class="content">
	<%- include('blocks/slider')%>
	<hr>
	<%- include('blocks/new')%>	
	<hr>
	<%- include('blocks/featured') %>
	<hr>
</div>	
<%- include('blocks/footer')%>
