<div class="slider">
	<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    	<% if(sliders.length){ %>
    	<% sliders.forEach(function(slider, i){%>
      <div class="item <% if(i === 0){ %> active <% } %>">
        <img src="<%= slider.imageUrl %>" alt="<%= slider.title %>">
        <div class="caption">
          <h3><%= slider.title %></h3>
          <p><%= slider.slogan %></p>
          <a class="btn btn-special" href="/product/<%= slider.code %>" role="button">Review</a>
        </div>
      </div>
      <% })}%>
    </div>
  </div>
	<aside>
		<div class="sale">
		  <h3>Sale on <span class="sale-inline-20"></span> <small>new lines just added!</small>
		  </h3>
		  <img src="/images/others/towels.png" alt="sale">
		  <a href="/sale" class="btn btn-special" role="button">browse</a>
		</div>
		<div class="newsletter-subscribe">
		  <p>Subscribe to our free monthly
		    newsletter and be the first 
		    to hear about our offers.</p>
		  <form action="/subscribe" method="post" id="newsletter-subscription" class="user">
		    <div class="input-group">
		      <div>
		        <input type="text" class="form-control" name="email" placeholder="Email..">
		      </div>
		      <button type="submit" class="btn btn-submit"></button>
		    </div>
		  </form>
		  <div class="helper"></div>
		</div>
	</aside>
</div>