<%- include('../blocks/header', {title: title})%>
<div class="content">
  <h3>Remove Products from sale</h3>
  <hr>
  <%- include('../../messages')%>
  <div class="table-responsive">
    <table class="table edit">
      <thead>
        <tr>
          <th>Code</th>
          <th>Title</th>
          <th>Current Price</th>
          <th>Old Price</th>
          <th>Discount</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
  <% results.forEach(function(result){%>
      <tr>
        <td><%= result.code %></td>
        <td><%= result.title %></td>
        <td><%= result.new_price %></td>
        <td><%= result.old_price %></td>
        <td><%= result.discount %></td>
        <td>
          <a href="/api/sale/remove/<%= result.id %>" data-action="delete">Remove From Sale</a>
        </td>
      </tr>
  <%})%>
      </tbody>
    </table>
  </div>
  <hr>
  
</div>
<%- include('../blocks/footer')%>  