<%- include('../partials/header', {title: title})%>
<div class="content">
  <h3>Add Product for slider</h3>
  <hr>
  <%- include('../../messages')%>
  <form action="/api/slider/<%= product.code %>" method="post">
    <div class="form-group">
      <label>Product Code</label>
      <input type="text" name="code" class="form-control disabled" value="<%= product.code %>">
    </div>
    <div class="form-group">
      <label>Product Category</label>
      <div class="select dropdown product">
        <span data-toggle="dropdown">
          <input type="text" class="form-control" name="category" value="<%= product.category %>" disabled>
        </span>
        <ul class="dropdown-menu">
          <li><a href="#">Flooring</a></li>
          <li><a href="#">Curtains</a></li>
          <li><a href="#">Bedding</a></li>
        </ul>
      </div> 
    </div>
    <div class="form-group">
      <label>Product Title</label>
      <input type="text" name="title" class="form-control disabled" value="<%= product.title %>">
    </div>
     <div class="form-group">
      <label>Product Price</label>
      <input type="number" step="0.01" name="price" class="form-control" value="<%= product.price %>" min="0" disabled>
    </div>
    <div class="form-group">
      <label>Slogan</label>
      <textarea name="slogan" class="form-control" rows="10" placeholder="Slogan"></textarea>
    </div>
    <div class="form-group">
      <label>Choose Photo</label>
      <ul class="photo-list">
        <%images.forEach(function(image){ %>
          <li>
            <img src="<%= image.thumb %>" height="130" width="241" alt="<%= product.title %>">
            <input type="radio" class="form-control" name="image" value="<%= image.image %>" required>
          </li>
        <%})%>
      </ul>
    </div>
    <hr>
    <div class="form-group">
      <button type="submit" class="btn btn-default">Add To Slider</button>
    </div>
  </form> 
</div>
<%- include('../partials/footer')%>