<%if(locals.results.length){%>
	<div class="table-responsive">
    <table class="table edit">
      <thead>
        <tr>
          <th>Code</th>
          <th>Category</th>
          <th>Title</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
	<% results.forEach(function(result){%>
      <tr>
        <td><%= result.code %></td>
        <td><%= result.category %></td>
        <td><%= result.title %></td>
        <td><%= result.price %></td>
        <td>
          <% if(page === 'edit'){%>
            <a href="/api/products/edit/<%= result.code %>">Show Product</a>
          <%} else if(page === 'slider'){%>
            <a href="/api/slider/<%= result.code %>">Show Product</a>
          <%} else {%>
            <a href="/api/sale/<%= result.code %>">Show Product</a>
          <%}%>    
        </td>
      </tr>
	<%})%>
	    </tbody>
	  </table>
	</div>
  <% removeResults() %>
<%}%>	