<%- include('partials/header')%>
<div class="content">
	<ol class="breadcrumb">
		<li>
		  <a href="/">Home</a>
		</li>
		<li class="active"><%= error.status %> Error</li>
	</ol>
	<div class="error-message">
		<main>
		  <h3><%= error.status %> error <span class="alert"></span></h3>
		  <hr>
		  <p><%= message %></p><pre><%= error.stack %></pre>
		    <span class="error">
		     <%= error.status %> error
		    </span>
		</main>
		<aside>
		  <h3>What now?</h3>
		  <hr>
		  <p>Don't panic, it's easy to get you back on the track:</p>
		  <a href="/back" class="btn btn-back">Back</a>
		  <a href="/" class="btn btn-forward pull-right">Home</a>
		  <p><a href="#">Report an error &gt;</a></p>
		</aside>
	</div>
	<hr>
</div>	
<%- include('partials/footer')%>