<%- include('partials/header')%>
<div class="content">
	<%- include('partials/slider')%>
	<hr>
	<%- include('partials/new')%>
	<hr>
	<%- include('partials/featured') %>
	<hr>
</div>	
<%- include('partials/footer')%>
