<%- include('partials/header') %>
<div class="content">
	<ol class="breadcrumb">
    <li>
      <a href="/">Home</a>
    </li>
    <li class="active"><%= title %></li>
  </ol>
  <h3><%= title %></h3>
  <hr>
  <% if(orders && orders.length) { %>
  <div class="table-responsive">
    <table class="table cart">
      <thead>
        <tr>
          <th>date</th>
          <th>product name</th>
          <th>unit price</th>
          <th>quantity</th>
          <th>subtotal</th>
        </tr>
      </thead>
      <tbody>
        <% orders.forEach(function(order) { %>
      	<tr>
	        <td class="review"><%= order.date %></td>
	        <td class="name"><%= order.title %></td>
	        <td class="unit-price"><%= order.currency %><%= order.price %></td>
	        <td class="quantity"><%= order.qty %></td>
	        <td class="subtotal"><%= order.currency %>
	        	<span class="pr"><%= (order.price*order.qty).toFixed(2) %></span>
	        </td>
	      </tr>
        <% }) %>
      </tbody>
    </table>  	
  </div>
  <hr>
  <h4 class="total-order pull-right">Total: <%= orders[0].currency %><span class="pr"></span></h4>
  <% } %>
</div>
<%- include('partials/footer') %>