<%- include('partials/header')%>
  <div class="content">
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li class="active"><%= title %></li>
    </ol>
    <h3><%= title %></h3>
    <hr>
    <div class="new-products">
    	<% products.forEach(function(product){ %>
      <div class="product-unit">
        <a href="/product/<%= product.productCode %>" class="thumbnail <% if(product.sale !== 0){ %> sale-<%= product.sale %><% } %>">
          <img src="<%= product.images[0].thumbUrl %>" alt="<%= product.title %>">
        </a>
        <div class="caption">
          <h4><%= product.title %> <span class="price"><%= currency %> <%= (product.price*rate).toFixed(2) %></span>
          </h4>
          <p><%= product.desc %></p>
          <a href="/product/<%= product.productCode %>" class="btn btn-default" role="button">View</a>
          <a href="/product/basket/<%= product.productCode %>" class="btn btn-default" role="button" data-action="add-to-basket">Add to Basket</a>
          <% if(page === '/wishlist') { %>
            <a href="/wishlist/<%= product.productCode %>" class="btn btn-default remove" data-action="delete" role="button">Remove from Wishlist</a>
          <% } %>  
        </div>
      </div>
      <% }) %>
    </div> 
  </div>   
<%- include('partials/footer')%>